# ---------------------------- #
bin/
obj/
[D|d]ebug/
[R|r]elease/

# ---------------------------- #
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# ---------------------------- #
appsettings.Development.json
*.user.config